<!doctype html>
<html>

    <head>
        <title>Sample layout 1</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/layout1.css">
    </head>

    <body>
        <div id="header">
            <div id="logo"></div>
            <span id="name">Grapevine</span>
            <div id="tab1"><img src="grapes.png" id="homegrapes"></div>
            <div id="tab2"><img src="https://pixabay.com/static/uploads/photo/2013/07/12/13/50/cog-147414_640.png" id="settings"></div>
        </div>
        <div id="content">
            <div id="calwrapper">
                <div id="cal">
                    <table class="calendarMain">
                    <tr class="daysOfTheWeek">
                        <th> Sunday </th>
                        <th> Monday </th>
                        <th> Tuesday </th>
                        <th> Wednesday </th>
                        <th> Thursday </th>
                        <th> Friday </th>
                        <th> Saturday </th>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day"> 1 </td>
                        <td class="day"> 2 </td>
                        <td class="day"> 3 </td>
                        <td class="day"> 4 </td>
                        <td class="day"> 5 </td>
                        <td class="day"> 6 </td>
                        <td class="day last"> 7 </td>
                    </tr>
                    <tr class="evenWeek">
                        <td class="day"> 8 </td>
                        <td class="day"> 9 </td>
                        <td class="day"> 10 </td>
                        <td class="day"> 11 </td>
                        <td class="day"> 12 </td>
                        <td class="day"> 13 </td>
                        <td class="day last"> 14 </td>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day"> 15 </td>
                        <td class="day"> 16 </td>
                        <td class="day"> 17 </td>
                        <td class="day"> 18 </td>
                        <td class="day"> 19 </td>
                        <td class="day"> 20 </td>
                        <td class="day last"> 21 </td>
                    </tr>
                    <tr class="evenWeek">
                        <td class="day"> 22 </td>
                        <td class="day"> 23 </td>
                        <td class="day"> 24 </td>
                        <td class="day"> 25 </td>
                        <td class="day"> 26 </td>
                        <td class="day"> 27 </td>
                        <td class="day last"> 28 </td>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day end"> 29 </td>
                        <td class="day end"> 30 </td>
                        <td class="day end"> 31 </td>
                        <td class="day end"> 32 </td>
                        <td class="day end"> 33 </td>
                        <td class="day end"> 34 </td>
                        <td class="day last end"> 35 </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </body>

</html>