<!doctype html>
<html>

    <head>
        <title>Sample layout 1</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/layout1.css">
    </head>

    <body>
        <div id="header">
            <div id="logo"></div>
            <span id="name">Grapevine</span>
            <div id="tab1"><img src="grapes.png" id="homegrapes"></div>
            <div id="tab2"><img src="https://pixabay.com/static/uploads/photo/2013/07/12/13/50/cog-147414_640.png" id="settings"></div>
        </div>
        <div id="content">
            <div id="calwrapper">
                <div id="cal">
                    <table class="calendarMain">
                    <tr class="daysOfTheWeek">
                        <th> Sunday </th>
                        <th> Monday </th>
                        <th> Tuesday </th>
                        <th> Wednesday </th>
                        <th> Thursday </th>
                        <th> Friday </th>
                        <th> Saturday </th>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day"> <div class="date"> 1  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 2  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 3  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 4  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 5  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 6  </div> <div class="info"></div></td>
                        <td class="day last"> 7 </td>
                    </tr>
                    <tr class="evenWeek">
                        <td class="day"> <div class="date"> 8  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 9  </div> <div class="info"></div></td>
                        <td class="day"> <div class="date"> 10 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 11 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 12 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 13 </div> <div class="info"></div> </td>
                        <td class="day last"> 14 </td>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day"> <div class="date"> 15 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 16 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 17 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 18 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 19 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 20 </div> <div class="info"></div> </td>
                        <td class="day last"> 21 </td>
                    </tr>
                    <tr class="evenWeek">
                        <td class="day"> <div class="date"> 22 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 23 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 24 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 25 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 26 </div> <div class="info"></div> </td>
                        <td class="day"> <div class="date"> 27 </div> <div class="info"></div> </td>
                        <td class="day last"> 28 </td>
                    </tr>
                    <tr class="oddWeek">
                        <td class="day end"> <div class="date"> 29 </div> <div class="info"></div> </td>
                        <td class="day end"> <div class="date"> 30 </div> <div class="info"></div> </td>
                        <td class="day end"> <div class="date"> 31 </div> <div class="info"></div> </td>
                        <td class="day end"> <div class="date"> 32 </div> <div class="info"></div> </td>
                        <td class="day end"> <div class="date"> 33 </div> <div class="info"></div> </td>
                        <td class="day end"> <div class="date"> 34 </div> <div class="info"></div> </td>
                        <td class="day last end"> 35 </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </body>

</html>