<!doctype html>
<html>

    <head>
        <title>Sample layout 2</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/layout2.css">
    </head>

    <body>
        <div id="header">
            <div id="logo"></div>
            <span id="name">Grapevine</span>
        </div>
        <div id="content">
            <table id="listView">
                <tr>
                    <td class="date">Sun, Sep 13</td>
                    <td class="time">3pm - 10pm</td>
                    <td class="title">Meeting </td>
                    <td class="eventinfo">More Info</td>
                </tr>
            </table>
        </div>
    </body>
    
</html>